<div class="text-center page-body page-body-profile">
    <h2>Ad</h2> 

    <div class="profile-text">
        <h4 class="h5">{{adData.title}}</h4> 

        <p class="profile-entry">
            <span class="entry-label">Description</span>
            <span class="entry-value">{{adData.description}}</span> 
        </p>
    </div> 

    <a href="/ads/{{adData._id}}/edit" class="btn btn-outline-success">Edit Ad</a> 
</div> 
