<div class="page-body page-body-ad">

    <h2 class="h4 ad-title">{{adData.title}}</h2> 
    <p class="ad-description">{{adData.description}}</p> 

    <a href="/ads/{{adData._id}}/edit" class="btn btn-outline-success">Edit Ad</a> 
</div> 
