<div class="page-body page-body-profile">
    <h2>Ads</h2> 

    {{#each adsData}} 
    <div class="ad-entry">
        <h4 class="h5">{{title}}</h4> 
        <p class="">{{description}}</p> 

        <a href="" class="btn btn-outline-success">Details</a> 
    </div> 
    {{/each}}
</div> 
