<h2>Edit Profile</h2> 

<form class="form form-profile-edit" method="POST"> 
    <div class="form-group">
        <label for="username" class="form-label">Username</label> 
        <input name="username" id="username" type="text" class="form-control" value="{{userData.username}}" /> 

        {{#if errors.username}}
        <span class="text-danger small">{{errors.username.message}}</span> 
        {{/if}}
    </div> 

    <div class="form-group">
        <label for="photo" class="form-label">Photo Url</label> 
        <input name="photo" id="photo" type="text" class="form-control" value="{{userData.photo}}" /> 

        {{#if errors.photo}}
        <span class="text-danger small">{{errors.photo.message}}</span> 
        {{/if}}
    </div> 

    <button class="btn btn-outline-success mt-4">Edit</button> 

</form> 