<div class="page-body page-body-profile">
    <h2>Application roles</h2> 

    {{#each applicationRolesData}} 
    <div class="ad-entry">
        <h4 class="h5">{{name}}</h4> 
        <p class="">{{description}}</p> 
    </div> 
    {{/each}}
</div> 
