<h2>Update Application Role</h2> 

<form class="form form-application-role" method="POST"> 
    {{> application-role}} 

    <div class="buttons mt-4"> 
        <button class="btn btn-outline-success">Update Application Role</button> 
    </div>
</form> 
