<h2>Your Profile</h2> 

<div class="image-holder image-holder-profile">
    <img src="{{user.photo}}" alt="{{userData.username}}" /> 
</div> 

<h4 class="h5">{{userData.username}}</h4> 
<p>{{userData.email}}</p>
